# Exploring NYC Public School Test Result Scores

![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [46]:
import pandas as pd

schools = pd.read_csv("schools.csv")

Exploring

In [47]:
schools.shape

(375, 7)

In [48]:
schools.head()

                                         school_name  ... percent_tested
0  New Explorations into Science, Technology and ...  ...            NaN
1                               Essex Street Academy  ...           78.9
2                       Lower Manhattan Arts Academy  ...           65.1
3    High School for Dual Language and Asian Studies  ...           95.9
4      Henry Street School for International Studies  ...           59.7

[5 rows x 7 columns]

## Which NYC schools have the best math results?

- The best math results are at least 80% of the *maximum possible score of 800* for math.

In [49]:
# schools where average_math is grator than 80%
best_math_schools = schools[(schools["average_math"]/800)*100>80]

- Save your results in a pandas DataFrame called `best_math_schools`, including "`school_name`" and "`average_math`" columns, sorted by "`average_math`" in descending order.

In [50]:
# selecting only "school_name" and "average_math" columns
best_math_schools = best_math_schools[['school_name','average_math']]

# sort by "average_math" in descending order
best_math_schools = best_math_schools.sort_values(['average_math'],ascending=[False])

## What are the top 10 performing schools based on the combined SAT scores?

- Save your results as a pandas DataFrame called `top_10_schools` containing the "`school_name`" and a new column named "`total_SAT`", with results ordered by "`total_SAT`" in descending order.

In [51]:
# calculating the total SAT score by summing the average scores of math, reading, and writing for each school
schools['total_SAT'] = schools['average_math'] + schools['average_reading'] + schools['average_writing']

# selecting only "school_name" and "total_SAT columns
top_10_schools = schools[['school_name','total_SAT']]

# order by "total_SAT" in descending order
top_10_schools = top_10_schools.sort_values(['total_SAT'],ascending=[False])

# filtering only top 10 schools
top_10_schools = top_10_schools.head(10)

## Which single borough has the largest standard deviation in the combined SAT score?

- Save your results as a pandas DataFrame called `largest_std_dev`.
- The DataFrame should contain one row, with:
    - "`borough`" - the name of the NYC borough with the largest standard deviation of "`total_SAT`".
    - "`num_schools`" - the number of schools in the borough.
    - "`average_SAT`" - the mean of "`total_SAT`".
    - "`std_SAT`" - the standard deviation of "`total_SAT`".
- Round all numeric values to two decimal places.

In [52]:
# calculating mean, standard deviation and counts for each school w.r.t to "borough"
borough_stats = schools.groupby('borough').agg({
  'school_name': 'count',
    'total_SAT': ['mean', 'std']
})

# moving "borough" to column - reverse of groupby
borough_stats =  borough_stats.reset_index()

# renaming columns
borough_stats.columns = ['borough', 'num_schools', 'average_SAT', 'std_SAT']

# selecting the "borough" with largest standard deviation
largest_std_dev = borough_stats[ borough_stats['std_SAT'] == borough_stats['std_SAT'].max()]

# rounding to two decimal places
largest_std_dev = largest_std_dev.round(2)

In [53]:
print(largest_std_dev)

     borough  num_schools  average_SAT  std_SAT
2  Manhattan           89      1340.13   230.29